# requirements.txt
python-telegram-bot==13.7
requests==2.25.1
beautifulsoup4==4.9.3
schedule==1.1.0
tornado>=6.2.0
chardet==4.0.0

# Selenium ve ilgili paketler
selenium==4.15.2
webdriver-manager==4.0.1

# HTML parsing için
lxml==4.9.3